<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
    <title>Detalle de Producto</title>
    <%- include ('../partials/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/stylesProductDetail.css">
</head>

<body>
    <!-----------------------------------------=HEADER=----------------------------------------------------->
    <%- include ('../partials/header') %>

        <div class="contenedor">
            <div class="subcotenedor1">
                <h2 class="titulo">Detalle de Producto: <%= product.name %>
                </h2>
            </div>
            <div class="subcontenedor2">
                <div class="subcontenedor-imagen">
                    <img src="/images/<%= product.image %>" alt="Corona" class="product_img">
                </div>
                <div class="subcontenedor-data">
                    <article>
                        <h3 class="bodega">
                            <%= product.bodega %>
                        </h3>
                        <h2 class="nombre-bebida">
                            <%= product.name %>
                        </h2>
                        <h2 class="variedad">
                            <%= product.variedad %>
                        </h2>
                        <p class="precio">
                            <span>$ <%= product.price%></span>
                            <br>
                            <span>
                                <%= product.discount%>% OFF
                            </span>
                        </p>
                        <br>
                        <p class="cantidad">
                            <input type="button" value="-">
                            <input type="number">
                            <input type="button" value="+">
                        </p>
                        <br>
                        <p>
                            <button class="boton" type="submit">Agregar al Carrito</button>
                        </p>
                        <br>
                        <span class="envio">Retiro GRATIS en sucursal</span>
                        <br>
                        <span class="envio">Envíos a todo el país</span>
                    </article>

                </div>
            </div>
            <div class="subcontenedor3">
                <p>
                    <span class="description">Descripción: <%= product.description%></span>
                </p>
            </div>
        </div>


        <%- include ('../partials/footer') %>
</body>

</html>