<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Home</title>
<%- include ('./partials/head') %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<body>
<%- include ('./partials/header') %>
<!-----------------------------------------=SLIDER=----------------------------------------------------->
<div class="slider">
    <ul>
    <li><a href="/product/list"><img src="images/ban_6-05_1.jpg" alt="ban_6-05_1"></a></li>
    <li><a href="/product/vinos"><img src="images/beneficios-vinos-18-11.jpg" alt="beneficios-vinos-18-11"></a></li>
    <li><a href="/product/spirits"><img src="images/beneficios-whiskies-18-11.jpg" alt="beneficios-whiskies-18-11"></a></li>
</ul>

</div>

    <!-----------------------------------------=SECTION=----------------------------------------------------->
    <main>
        <section class="last-visit">
            <h3 class="title">DESTACADOS</h3>
            <div class="products">
                <% productsMain.destacados.forEach(element =>{  %>
                <article>
                    <a href="product/<%= element.id %>"><img src="/images/<%= element.image %>" alt="FondDeCave" class="product_img"></a>
                    <div class="main-article">
                        <p class="price">$<%= element.price %></p>
                        <p class="discount"><%= element.discount %>% off</p>
                        <h4 class="description"><%= element.name %></h4>
                    </div>
                </article>
                <% }) %>                
            </div>
        </section>
    </main>


    <!-----------------------------------------=FOOTER=----------------------------------------------------->
    <%- include ('./partials/footer') %>
</body>
</html>
