<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
    <title>Detalle de Producto</title>
    <%- include ('../partials/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/stylesProductDetail.css">
</head>

<body>
    <!-----------------------------------------=HEADER=----------------------------------------------------->
    <%- include ('../partials/header') %>

        <div class="contenedor">
            <div class="subcotenedor1">
                <h2 class="titulo">Detalle de Producto: <%= miBebida.name %>
                </h2>
            </div>
            <div class="subcontenedor2">
                <div class="subcontenedor-imagen">
                    <img src="/images/<%= miBebida.image %>" alt="Corona" class="product_img">
                </div>
                <div class="subcontenedor-data">
                    <article>
                        <h3 class="bodega">
                            <%= miBebida.bodega %>
                        </h3>
                        <h2 class="nombre-bebida">
                            <%= miBebida.name %>
                        </h2>
                        <h2 class="variedad">
                            <%= miBebida.variedad %>
                        </h2>
                        <p class="precio">
                            <span>$ <%= miBebida.price%></span>
                            <br>
                            <span>
                                <%= miBebida.discount%>% OFF
                            </span>
                        </p>                        
                    </article>

                </div>
            </div>
            <div class="subcontenedor3">
                <p>
                    <span class="description">Descripción: <%= miBebida.description%></span>
                </p>
            </div>
            <button><a href="/admin/administrar" class="volver">Volver</a></button>
            
        </div>
</body>

</html>
