<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
    <title>Editar producto</title>
    <%- include ('../partials/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styleProfile.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<body>
	<%- include ('../partials/header') %>	
	<!-- Container -->
	<div class="contenedor">
		<div class="contenedor1">
			<div class="contenedor2">
				<h2 class="nombre">Hola <%= user.firstname %> <%= user.lastname %></h2>
				<img src="/images/users/<%= user.image %>" width="300" height="300">
				<br>
				<br>
				<div class="email"> <%= user.email %> </div>
			</div>					
		</div>
	</div>
	<!-- //Container -->
	
    <%- include ('../partials/footer') %>
</body>
</html>