<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
	<title>Perfil</title>
	<%- include ('../partials/head') %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/styleProfile.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->

<body>
	<%- include ('../partials/header') %>
		<!-- Container -->
		<div class="contenedor">
			<div class="contenedor1">
				<div class="contenedor2">
					<h2 class="nombre">Hola <%= user.first_name %>
							<%= user.last_name %>
					</h2>
					<!-- <h3 class="email"> <%= user.email %> </h3> -->
					<img src="/images/users/<%= user.image %>" width="300" height="300">
					<br>
					<br>

				</div>
			</div>
			<button class="button2"><a class="volver" href="/users/profileEdit/<%= user.id %>">Editar
					Perfil</a></button>
		</div>

		<!-- //Container -->

		<%- include ('../partials/footer') %>
</body>

</html>