<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
  <title>Register</title>
  <%- include ('../partials/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegistro.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>

  <body>
    <main>
      <section class="datospersonales">
        <form action="/users/userEdit/<%= User.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
          <h5>Edicion de Usuario:</h5>
          <label class="col-sm-3 col-form-label is-required"><span>
              Nombre</span></label>
          <input type="text" name="firstname" value="<%= User.first_name %>" readonly>

          <label class="col-sm-3 col-form-label is-required"><span>
              Apellido</span></label>
          <input type="text" name="lastname" value="<%= User.last_name %>" readonly>

          <label class="col-sm-3 col-form-label is-required"><span>
              Email</span></label>
          <input type="email" size="50" name="email" value="<%= User.email %>" readonly>
          <br>
          <br>
          <label class="col-sm-3 col-form-label is-required"><span>
              Cambiar Rol</span></label>
          <select id="select" name="rol">
            <option value="1">Administrador</option>
            <option value="2">Usuario</option>
          </select>
          <br>
          <figure>
            <img class="img-view" src="/images/users/<%= User.image%>" alt="nombre <%= User.first_name%>" width="100">
          </figure>
          <input type="hidden" name="oldImagen" value="<%= User.image%>">
          <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
          <!-- <p><input type="checkbox" name="terms" value="terms" required>Acepto los términos y condiciones</input></p>
          <p><input type="checkbox" name="newsletter" value="newsletter">Deseo recibir novedades y ofertas</input></p> -->

          <p>
            <button type="submit" class="button2">Editar</button>
            <button class="button2"><a class="volver" href="/users/userList">Volver</a></button>
          </p>
        </form>
      </section>
    </main>
  </body>
  <!-----------------------------------------=FOOTER=----------------------------------------------------->
  <%- include ('../partials/footer') %>

</html>